<i id="notice"><%= notice %></i></br>

<%= @made_friend.name %>님의 프로필<br/>

프로필 사진<br/><br/>

<strong>이름:</strong>
  <%= @made_friend.name %><br/><br/>

<strong>성별:</strong>
  <%= @made_friend.sex %><br/><br/>

<strong>나이:</strong>
  <%= @made_friend.age %><br/><br/>  
  
<strong>간편소개:</strong>
  <%= @made_friend.selfintroduction %><br/><br/>

<strong>거주지</strong>
  <%= @made_friend.home %><br/><br/>

<strong>직업:</strong>
  <%= @made_friend.job %><br/><br/>

<strong>직장명:</strong>
  <%= @made_friend.workplace %><br/><br/>

<strong>키(cm):</strong>
  <%= @made_friend.height %><br/><br/>
  
  <strong>음주정도:</strong>
  <%= @made_friend.drink %><br/><br/>
  
  <strong>연애스타일:</strong>
  <%= @made_friend.mind %><br/><br/>


<button><a href="/posts/<%=current_user.id%>/make_friends/<%=@made_friend.id%>/edit">수정하기</a></button>
<button><a href="/posts/my_loundge/<%=current_user.id%>">내 라운지로 이동하기'</a></button>


