<% if friend_list(current_user.id).include?(@post.owner_id.to_i) %>
<h1>친구라운지</h1>
이름 : <%= @post.name %>
간단소개 : <%= @post.selfintroduction %>
<hr>

<h2><%= @post.name %>님의 솔로 친구를 소개합니다!</h2>
<i>참고: 현재 나의 성별은 <%= Post.find_by(owner_id: current_user).sex %> 입니다</i><br/>
<!--나랑 친구는 아닌 사람들 중에서 솔로 이성들만 보이도록 기능 구현할라하다가, 그냥 나랑 친구인 사람들도 보여도 될듯!-->
<% @recommended_solos_not_my_sex.each do |p| %>
    <%=p.name%>님 <a href="/posts/<%=p.owner_id%>", method: "GET">프로필보기</a><br>
    <% if Heart.find_by(user_id: current_user.id, lover_id: p.owner_id).nil? 
        @loveletter = "이 사람을 소개시켜주세요!"
        @text = "소개신청"
       else
        @loveletter = "#{Post.find_by(owner_id: Heart.find_by(lover_id: p.owner_id, user_id: current_user.id).host_id).name}님에게 소개신청했습니다!"
        @text = '취소'
       end %>
    <%= @loveletter%> <a href="<%= @post.owner_id%>/<%=p.owner_id%>", method: "GET"><%=@text%></a> (이사람에게 호감을 보인 사람들 : <%= Heart.where(lover_id: p.owner_id).size %>명)<hr>
<% end %>

<% if @made_friends_not_my_sex.exists? %>
    <% @made_friends_not_my_sex.each do |f| %>
        <%=f.name%>님 <a href="/posts/<%=@post.owner_id%>/make_friends/<%=f.id%>", method: "GET">프로필보기</a><br>
        <!--<a href="/posts/loundge", method: "GET"> 호감 보이기</a><br>-->
    <% if Heart.find_by(user_id: current_user.id, lover_id: f.id*100000).nil? 
        @loveletter = "이 사람을 소개시켜주세요!"
        @text = "소개신청"
       else
        @loveletter = "#{Post.find_by(owner_id: Heart.find_by(lover_id: f.id*100000, user_id: current_user.id).host_id).name}님에게 소개신청했습니다!"
        @text = '취소'
       end %>
    <%= @loveletter%> <a href="<%= @post.owner_id%>/<%=f.id*100000%>", method: "GET"><%=@text%></a> (이사람에게 호감을 보인 사람들 : <%= Heart.where(lover_id: f.id*100000).size %>명)<hr>


    <% end %>
<% else %>
<% end %>
<hr>



<%else %>
접근 권한이 없습니다. 친구 신청을 하세요!
<% end %>
<a href="/posts", method: "GET">초기화면으로 돌아가기</a>