<h1>누가 <%= Post.find_by(owner_id: params[:lover_id]).name%>를 소개해 달라고 했을까요?</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>
<br>

  <% if @love_request.where(host_id: current_user.id).exists? %>
          <% @love_request.where(host_id: current_user.id).each do |love| %>
              <a href="/posts/<%=love.user_id%>", method: "GET"><%=Post.find_by(owner_id: love.user_id).name%></a>님이 
              <a href="/posts/<%=love.lover_id%>", method: "GET"><%=Post.find_by(owner_id: love.lover_id).name%></a>을 소개해 달래요!
              <!--<button class="copy">연결해주기!</button>-->
              <button class="clipboard-btn" onClick='showMessage()'
                data-clipboard-text="<%=Post.find_by(owner_id: love.lover_id).name%>님&#10;연락처 : <%=Post.find_by(owner_id: love.lover_id).phone%>">
                연결해주기!</button>
              <br>
          <% end %>
    <% else %>
    아직 아무도 나에게 소개팅 신청을 하지 않았어요!
    <% end %>
    
    <hr>
<a href="/posts", method: "GET">초기화면으로 돌아가기</a>
<script>
  $(document).ready(function(){  
    var clipboard = new Clipboard('[class^="clipboard-btn"]');
  });
  
  function showMessage(){
				alert("이 분의 연락처를 클립보드에 복사했습니다!");
			}
</script>