<h1>내 라운지</h1>
이름 : <%= @current_user_post.name %>
간단소개 : <%= @current_user_post.selfintroduction %>
<hr>

<h2>나의 솔로 친구를 소개합니다!</h2>
<i>참고: 현재 나의 성별은 <%= @current_user_post.sex %> 입니다</i><br/>
<!--나랑 친구는 아닌 사람들 중에서 솔로 이성들만 보이도록 기능 구현할라하다가, 그냥 나랑 친구인 사람들도 보여도 될듯!-->
<% @my_friends.where.not(sex: @current_user_post.sex).each do |p| %>
    <%=p.name%>님 <a href="/posts/<%=p.owner_id%>", method: "GET">프로필보기</a><br>
    <!--<a href="/posts/loundge", method: "GET"> 호감 보이기</a><br>-->
<% end %>


<h2>여기서부터는 가짜 친구들</h2>

<% if @current_user_made_up_friend.exists? %>
    <% @current_user_made_up_friend.each do |p| %>
        <%=p.name%>님 <a href="/make_friends/<%=current_user.id%>,<%=p.id%>", method: "GET">프로필보기</a><br>
        <a href="/make_friends/new", method: "POST">(+)친구 추가하기</a>
        <!--<a href="/posts/loundge", method: "GET"> 호감 보이기</a><br>-->
    <% end %>
<% else %>
  자 이제, 친구를 등록해보세요!<br/>
  <a href="/posts/<%=current_user.id%>/make_friends/new", method: "POST">(+)친구 추가하기</a>
<% end %>




<hr>



<a href="/posts", method: "GET">초기화면으로 돌아가기</a>

