<%= @post.name %>님의 프로필

프로필 사진<br/><br/>

거주지: <input type="text" name="home"><br/><br/>

직업: <input type="text" name="job"><br/><br/>

직장명: <input type="text" name="workplace"><br/><br/>

키(cm): <input type="text" name="height"><br/><br/>

간단소개 : <br/><textarea name="selfintroduction"></textarea><br/><br/>

연락처 : <input type="text" name="phone"><br/><br/><br/>


<strong>이름:</strong>
  <%= @post.name %><br/><br/>

<strong>성별:</strong>
  <%= @post.sex %><br/><br/>

<strong>나이</strong>
  <%= @post.age %><br/><br/>

<strong>연애상태</strong>
  <%= @post.status %><br/><br/>

<strong>거주지</strong>
  <%= @post.home %><br/><br/>

 <strong>거주지</strong>
  <%= @post.home %><br/><br/>

  <strong>직업:</strong>
  <%= @post.job %><br/><br/>

  <strong>직장명:</strong>
  <%= @post.workplace %><br/><br/>

  <strong>키(cm):</strong>
  <%= @post.height %><br/><br/>


<button><%= link_to '수정', edit_post_path(@post) %></button>
<button><%= link_to '뒤로가기', posts_path %></button>


