<i id="notice"><%= notice %></i><br>

<%= @post.name %>님의 프로필<br/>

프로필 사진<br/><br/>

<strong>이름:</strong>
  <%= @post.name %><br/><br/>

<strong>성별:</strong>
  <%= @post.sex %><br/><br/>

<strong>나이:</strong>
  <%= @post.age %><br/><br/>
  
<strong>간편소개:</strong>
  <%= @post.selfintroduction %><br/><br/>

<strong>연애상태</strong>
  <%= @post.status %><br/><br/>

<strong>거주지</strong>
  <%= @post.home %><br/><br/>

<strong>직업:</strong>
  <%= @post.job %><br/><br/>

<strong>직장명:</strong>
  <%= @post.workplace %><br/><br/>

<strong>키(cm):</strong>
  <%= @post.height %><br/><br/>
  
  <strong>음주정도:</strong>
  <%= @post.drink %><br/><br/>
  
  <strong>연애스타일:</strong>
  <%= @post.mind %><br/><br/>

<% if @post.owner_id.to_i == current_user.id %>
    <button><%= link_to '수정', edit_post_path(@post) %></button>
    <button><%= link_to '뒤로가기', '/' %></button>
<% else %>
    <button> <a href="/posts/friend_loundge/<%=@post.owner_id%>", method: "GET">친구 라운지로 이동 </button>  
  <button><%= link_to '뒤로가기', @back_url %></button>
<% end %>


